@use "variaveis" as *;


@mixin transicao($propriedade: all) {

    transition:
        $propriedade
        $transicao-padrao;

}


@mixin botao {

    padding:
        ($espacamento-base * 1.4)
        ($espacamento-base * 3.6);

    border:
        none;

    border-radius:
        $raio-medio;

    background-color:
        $cor-primaria;

    color:
        #ffffff;

    font-size:
        ($espacamento-base * 2);

    cursor:
        pointer;

    @include transicao(
        background-color
    );


    &:hover {

        background-color:
            $cor-primaria-hover;

    }

}


@mixin foco-campo {

    border-color:
        $cor-primaria;

    outline:
        none;

    box-shadow:
        0
        0
        ($espacamento-base * 0.6)
        rgba(
            0,
            123,
            255,
            0.5
        );

}